*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;
}


nav a{
    font-size: 30px;
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
    margin-right: 22px;
}

nav{
    margin-left: 924px;
}

nav a:hover{
    color: violet;
    text-decoration: underline;
    /* font-size: 35px; */
}

h2{
    margin-left: 72px;
    text-decoration: underline;
    font-size: xx-large;
    color: darkblue;
}

img{
    width: 257px;
    border-radius: 25px;
}

#home{
    text-align: center;
}

p{
    font-size: 20px;
    margin-left: 98px;
    display: inline-block;
    width: 40%;
    line-height: 37px;
    text-align: justify;
}
table{
    width: 40%;
    margin: auto;
}
table,td,th{
    border: 4px solid mediumpurple;
    border-collapse: collapse;
}

form{
    width: 280px;
    margin: auto
}

input{
    margin-left: 39px;
    margin-bottom: 21px;
}

#p{
    margin-left: 15px;
}

button{
    border-radius: 12px;
    color: white;
    font-size: 24px;
    background-color: cadetblue;
    width: 251px;
}

button:hover{
    color:cadetblue;
    background-color: white;
}

footer{
    font-size: 34px;
    text-align: center;
    margin-top: 48px;
}